[submodule "dockerfiles-fedora"]
	path = dockerfiles-fedora
	url = git@github.com:straysheep-dev/dockerfiles-fedora.git
[submodule "dockerfiles-ubuntu"]
	path = dockerfiles-ubuntu
	url = git@github.com:straysheep-dev/dockerfiles-ubuntu.git
[submodule "dockerfiles-debian"]
	path = dockerfiles-debian
	url = git@github.com:straysheep-dev/dockerfiles-debian.git
